# Conditions WHERE

On peut sélectionner des lignes spécifiques avec la condition `WHERE`.

La conditions acceptent les opérateurs logiques pour filtrer les données recherchées.

<center>
<table>
<tr>
    <th>Opérateur</th>
    <th>Description</th>
</tr>
<tr>
    <td>=</td>
    <td>Egal</td>
</tr>
<tr>
    <td><> ou !=</td>
    <td>différent de</td>
</tr>
<tr>
    <td>></td>
    <td>Strictement plus grand que</td>
</tr>
<tr>
    <td><</td>
    <td>Strictement plus petit que</td>
</tr>
<tr>
    <td>>=</td>
    <td>PLus grand ou égal à</td>
</tr>
<tr>
    <td><=</td>
    <td>PLus petit ou égal à</td>
</tr>
<tr>
    <td>AND</td>
    <td>ET logique, sélectionne les lignes où chaque condition est vérifiée</td>
</tr>

<tr>
    <td>OR</td>
    <td> OU logique, sélectionne les lignes où une condition est vérifiée</td>
</tr>
<tr>
    <td>IN</td>
    <td>Liste de plusieurs valeurs possibles</td>
</tr>
<tr>
    <td>BETWEEN</td>
    <td>Valeur comprise dans un intervalle donnée (utile pour les nombres ou dates)</td>
</tr>

<tr>
    <td>LIKE</td>
    <td>Recherche en spécifiant le début, milieu ou fin d'un mot (s'utilise avec des méta-caractères)</td>
</tr>

<tr>
    <td>IS NULL</td>
    <td>Valeur est nulle</td>
</tr>

<tr>
    <td>NOT</td>
    <td>not X. N'est Pas, si X == True, donne False. Si X == False, donne True</td>
</tr>


</table>
</center>

Nous reprenons la base de données learning, le schéma public des exercices précédents pour exécuter les requêtes SQL ci dessous.

## Egal

Ici nous sélectionnons uniquement le produit qui porte l'`id` 1.

`SELECT id, product_name, product_description
	FROM product
	WHERE id = 1;`

## différent de

Sélection des produits qui ne portent pas l'`id` 1.

`SELECT id, product_name, product_description
	FROM product
	WHERE id != 1;`

On peut également écrire :

`SELECT id, product_name, product_description
	FROM product
	WHERE id <> 1;`

## Plus grand et plus petit

On récupère les transactions avec une quantité supérieure à 5

`SELECT * FROM transaction WHERE quantity >= 5;`

On sélectionne les transactions avec un prix unitaire strictement inférieur à 10.

`SELECT * FROM transaction WHERE unit_price < 10;`

## Dans une liste (IN)

Sélectionne les produits dont le nom est dans la liste.

`SELECT *
	FROM product
	WHERE product_name IN ('feu', 'pipette', 'crayon');`

NB : Une liste en SQL s'écrit entre parenthèse, les valeurs sont séparées par des `,`

## Entre deux valeurs

Sélectionne les clients nés pendant le Moyen-Âge.

`SELECT * FROM client WHERE birth_date BETWEEN '476-09-04' AND '1453-05-29';`

## Valeur nulle

Sélectionne les clients qui n'ont pas de deuxième prénom.

`SELECT * FROM client WHERE middle_name is NULL;`

## N'est pas

Sélectionne les clients qui ont un deuxième prénom.

`SELECT * FROM client WHERE middle_name is NOT NULL;`

Sélectionne les produits dont le nom n'est dans la liste.

`SELECT *
	FROM product
	WHERE product_name NOT IN ('feu', 'pipette', 'crayon');`

## Multiples conditions

On peut sélectionner multiplier les conditions avec les opérateurs logiques `AND` et `OR`.

### ET logique
On sélectionne les transactions avec le client_id = 17 and une quantité strictement supérieure à 55.

`SELECT * FROM transaction WHERE client_id = 17 AND quantity > 55`

### OU logique

On sélectionne ici toutes les colonnes dont le produit porte l'`id` 1 ou le nom est livre.

`SELECT *
	FROM product
	WHERE id = 1 OR product_name IN ('livre', 'fusée');`

### Association de ET et OU

Le produit doit porter l'`id` 1 ou être dans la liste livre, fusée et avoir un poids supérieur à 10.

`SELECT *
	FROM product
	WHERE (id = 1 OR product_name IN ('livre', 'fusée'))
	AND product_weight > 10;`

La clause WHERE fonctionne pour les instructions SELECT, mais également pour les instructions UPDATE et DELETE que nous allons voir dans le chapitre suivant.