# Encore plus d'instructions SELECT

Les instructions SELECT permettent de récupérer des informations de la base de données et des tables.

Cette instruction, associée à un ensemble de filtres et de fonctions, nous aidera à chercher des informations précises.

Les instructions SELECT permettent de récupérer des informations mais ne modifient pas l'état de la base de données et des tables.

## Selectionner un nombre limité de lignes.

Sélectionner toutes les lignes peut s'avérer lourd en calcul et créer des requêtes qui prennent du temps à s'éxécuter ou ne s'éxécutent pas.

Pour sélectionner un nombre défini de lignes, on utilise la clause LIMIT.

C'est une bonne technique pour avoir un aperçu des données de la table.

On sélectionne uniquement 5 clients.

`SELECT * from client LIMIT 5;`

## Renommer une colonne

On peut renommer une colonne dans une requête en lui donnant un alias avec le mot-clé AS.

La colonne product_description s'appelle désormais description (uniquement dans la requête SELECT, la table n'est pas modifiée.)

`SELECT  product_name, product_description AS description
	FROM public.product LIMIT 10;`

### Trier les colonnes

La clause ORDER BY permet de trier des des colonnes par ordre numérique ou alphabétique.

Le mot-clé ASC (ascending) trie les données du plus petit au plus grand (de A à Z).

Le mot-clé DESC (descending) trie les données du plus grand au plus petit (de Z à A).

Tri les noms par ordre croissant :

`SELECT first_name, birth_date FROM client ORDER BY first_name ASC LIMIT 10;`

Tri par odate de naissance décroissante :

`SELECT first_name, birth_date FROM client ORDER BY birth_date DESC LIMIT 10;`

Renomme la colonne last_name et tri par nom de famille croissant et date de naissance décroissante :

`SELECT first_name, last_name AS family_name, birth_date FROM client ORDER BY family_name ASC, birth_date DESC LIMIT 10;`

## Opérations mathématiques

SQL offre la possibilité de réaliser des opérations mathématiques sur des colonnes.

<center>

| Symbole | opération            | exemple         |
|--------|-----------------------|-----------------|
| +      | Addition              | 6 + 4 = 10      |
| -      | Soustraction          | 6 - 4 = 2       |
| *      | Multiplication        | 6 * 4 = 24      |
| /      | Division réelle       | 6 / 4 = 1.5     |
| ^      | Exposant              | 12 ** 2 = 144   |
</center>

### Prix total

Dans la table transaction, on a la quantité achetée et le prix unitaire. Si on multiplie ces deux colonnes, on obtient le prix total (total_price).

`SELECT *,  quantity * unit_price AS total_price FROM transaction;`

## Fonctions d'agrégation

Les fonctions d'agrégation permettent de réaliser des statistiques de bases sur les enregistrements.

Les 5 fonctions sont :

<center>
<table>
<tr>
    <th>Fonction</th>
    <th>Description</th>
</tr>
<tr>
    <td>SUM()</td>
    <td>somme des lignes de la colonne</td>
</tr>
<tr>
    <td>AVG()</td>
    <td>moyenne des lignes de la colonne</td>
</tr>
<tr>
    <td>MAX()</td>
    <td>max des lignes de la colonne</td>
</tr>
<tr>
    <td>MIN()</td>
    <td>min des lignes de la colonne</td>
</tr>
<tr>
    <td>COUNT()</td>
    <td>compte le nombre de lignes de la colonne</td>
</tr>

</table>
</center>

### Somme

Quantité totale achetée

`SELECT SUM(quantity) AS sum_quantity FROM transaction;`

### Moyenne

Quantité moyenne achetée

`SELECT AVG(quantity) AS average_quantity FROM transaction;`

### Max

Prix unitaire max

`SELECT MAX(unit_price) AS max_unit_price FROM transaction;`

### Min

Prix unitaire min

`SELECT MIN(unit_price) AS min_unit_price FROM transaction;`

### Compte

Compte le nombre de transactions

`SELECT COUNT(client_id) AS nb_transaction FROM transaction;`

## Regroupement GROUP BY

Les fonctions d'agrégation s'utilisent avec la commande GROUP BY. On peut ainsi agréger des données comme dans un tableau croisé dynamique.

On trouve la quantité moyenne achetée et le nombre de produits acheté par chaque client.

`SELECT client_id, 
AVG(quantity) AS average_quantity,
COUNT(unit_price) AS nb_transaction
FROM transaction
GROUP BY client_id;`

## Filtrer par agrégat avec HAVING

La clause HAVING est similaire à la condition WHERE, elle permet de filter sur des agrégats.

On sélectionne les clients qui ont commandent en moyenne plus de 3 articles.

`SELECT client_id, AVG(quantity)  FROM transaction
GROUP BY client_id
HAVING AVG(quantity) > 3;`